.main-bg-color{
  background-color: #070b3b;
}
.main-color{
  color: #444;
}
.second-color{
  color: #fff;
}


.second-bg-color{
  background-color: #fff;
}

.btn-bg-one {
  background-color: #ffc221;
}

.btn-bg-two {
  background-color: #0071dc;
}

$blue-dark: #070b3b;
$blue-light: #0071dc;
$orange: #ffc221;

.orange{
  color: #ffc221;
}

.b-light{
  color: $blue-light;
}


