extends index.pug

block title 
  title forgot password

block landing 
  +landing('home', 'forgot password')

block content
  div(class='password section second-bg-color position-relative overflow-hidden')
    div(class='container')
      div(class='row')
        div(class='col-12')
          div(class='password-form')
            h2 forget password
            form(class='pt-20')
              input(class='form-label' type='email' placeholder='username or email' required)
              
            button(class='button mt-20' type='submit') reset password

block scripts
    include .includes/scripts.pug
    script(src=".js/global.js")
    script(src=".js/forms.js")