.blogs{
  .container{
    padding-right: 20px;
    padding-left: 20px;
    .blog-item{
      cursor: pointer;
      &:not(:last-of-type){
        margin-bottom: 50px;
      }
      .image{
        img{
          max-width: 100%;
          border-radius: 10px;
        }
      }
      .blog-body{
        .blog-icons{
          gap: 30px;
        }
      }
      .title{
        color: black;
        transition: .6s;
      }
      .date{
        position: absolute;
        top: 60%;
        right: 30px;
        padding: 15px 20px;
        background-color: $orange;
        color: white;
        font-weight: bold;
        border-radius: 7px;
        text-align: center;
        @media (max-width: 767px){
          top: 44%;
        }
        @media (max-width: 490px){
          top: 35%;
        }
        @media (max-width: 430px){
          top: 23%;
        }
      }
      &:hover{
        .title{
          color: $blue-light;
        }
      }
    }
    .right-side{
      ul{
        padding-left: 0;
      }
      .form{
        width: 360px;
        input{
          width: 100%;
          border: 1px solid rgba(68, 68, 68, 0.592);
          border-radius: 5px;
          padding: 10px 15px;
        }
        svg{
          background-color: $blue-light;
          padding: 12px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 5px;
          border-radius: 5px;
          color: white;
        }
      }
      .blog-categories{
        .categories{
          padding-top: 10px;
          .category-item{
            position: relative;
            cursor: pointer;
            margin-bottom: 10px;
            svg{
              margin-right: 10px;
              color: $blue-light;
              font-size: 18px;
            }
            .text{
              width: 100%;
              a{
                display: block;
                color: black;
                transition: .6s;
                font-weight: bold;
              }
              span{
                right: 0;
                transition: .6s;
              }
            }
            &:hover{
              a, span{
                color: $blue-light;
              }
            }
          }
        }
      }
      .recent-blogs{
        .recent-items{
          .recent-item{
            cursor: pointer;
            padding-bottom: 9px;
            &:not(:last-of-type){
              margin-bottom: 12px;
              border-bottom: 1px solid rgba(68, 68, 68, 0.188);
            }
            img{
              width: 90px;
              height: 80px;
              object-fit: cover;
            }
            a{
              color: black;
              transition: .6s;
              font-size: 18px;
            }
            &:hover{
              a{
                color: $blue-light;
              }
            }
          }
        }
      }
    }
  }
}

.author{
  padding: 20px 30px;
  svg{
    padding: 20px;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(to right,#070f60,#0071dc);
  }
}

.blog-tags{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  
  .social-link{
    background-color: white;
    color: $blue-light;
    font-size: 17px;
    padding: 10px 14px;
    margin-right: 10px;
    transition: .6s;
    &:hover{
      color: white;
      background-color: #0071dc;
    }
  }
}

@media (max-width: 767px){
  .blog-tags{
    flex-direction: column;
    .right-side{
      margin-top: 50px;
    }
  }
}

.comment{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.leave-comment{
  form{
    input.form-control{
      border-radius: 0;
      border: 1px solid $blue-light;
      height: 50px;
      
    }
    textarea{
      height: 170px;
      border-radius: 0;
      border: 1px solid $blue-light;
    }
  }
}