nav(class='navbar navbar-expand-lg second-bg-color shadow')
  div(class='container')
    a(href='index.html', class='navbar-brand fw-bold fs-40') 
      img(src='https://templates.hibootstrap.com/techex/default/assets/images/logos/logo-1.png', alt='')
    button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class='toggle-icon top')
      span(class='toggle-icon middle')
      span(class='toggle-icon bottom')
    div(class='collapse navbar-collapse' id='navbarSupportedContent')
      ul(class='navbar-nav ms-auto ')
        each link in ['home', 'about', 'services', 'blogs', 'pages', 'contact']
          li(class='nav-item')
            if link == 'home'
              a(class='nav-link main-color fs-17 ' area-current='page' href=`index.html`)= link
            else if link == "pages"
              li(class='nav-item dropdown')
                a(class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")= link
                  i(class="fa-solid fa-chevron-down" id='drop-icon')
                ul(class='dropdown-menu', aria-labelledby='dropdownMenuLink')
                  li(class='nav-item')  
                    a(class='dropdown-item', href=`register.html`) Sign Up
                  li(class='nav-item')  
                    a(class='dropdown-item', href=`login.html`) log in 
                  li(class='nav-item')  
                    a(class='dropdown-item', href=`terms.html`) terms & conditions
                  li(class='nav-item')  
                    a(class='dropdown-item', href=`privacy.html`) privacy & policy
                  li(class='nav-item')  
                    a(class='dropdown-item', href=`coming.html`) coming soon
            else 
              a(class='nav-link main-color fs-17' href=`${link}.html`)= link



