div(class='owl-carousel landing-slider owl-theme')
  div(class='slide position-relative one')
    div(class='container')
      div(class='slide-content text-light')
        div(class='quality') only high quality services
        h1 excellent business services for your success
        p we always provide our best services to our clients and always try to achieve our client's trust and satisfaction
        div(class='buttons')
          a(class='button' type='button', href='about.html') learn more
          a(class='button' type='button', href='contact.html') contact us

  div(class='slide position-relative two')
    div(class='container')
      div(class='slide-content text-light')
        div(class='quality') only high quality services
        h1 We Provide Truly Promising It Services
        p we always provide our best services to our clients and always try to achieve our client's trust and satisfaction
        div(class='buttons')
          a(class='button' type='button', href='about.html' ) learn more
          a(class='button' type='button', href='contact.html') contact us
        
  div(class='slide position-relative three')
    div(class='container')
      div(class='slide-content text-light')
        div(class='quality') only high quality services
        h1 Digital IT Service With Excellent Quality
        p we always provide our best services to our clients and always try to achieve our client's trust and satisfaction
        div(class='buttons')
          a(class='button ' type='button', href='about.html') learn more
          a(class='button ' type='button', href='contact.html') contact us